.demo-infinite-container {
  max-height: 275px;
  padding: 2px 24px;
  overflow: auto;
}

.user-container-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.item-buttons {
	display : flex;
	gap: 5px;
}