
.logo {
	padding: 30px 15px
}

.company-container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	float:inline-end;
	align-items: center;
}

.company-container h2{
	color: white;
	text-align: center;
	font-size: 1.1rem;
	margin-top: 10px;
}