
.logo {
	padding: 30px 15px
}

.company-container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.company-container h2{
	display: flex;
	color: #fff;
	text-align: center;
	font-size: 1.1rem;
	margin-top: 5px;
}

.company-container a {
	margin-top: -5px;
}